/* _content/ItensPresentes/Pages/Convite.razor.rz.scp.css */

.curved-title[b-pkaclo3485] {
    text-align: center;
    padding-bottom: 110px;
    font-size: 65px;
    padding-top: 20px;
    font-weight: bold;
}

.nomes-titles[b-pkaclo3485] {
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 90px;
    font-size: x-large;
    text-align: center;
}

.principal-text[b-pkaclo3485] {
    margin-top: -70px;
    margin-bottom: 125px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-align: center;
}

.O[b-pkaclo3485] {
    transform: translate(23px, 99px) rotate(337deg);
}

.p1[b-pkaclo3485] {
    transform: translate(13px, 68px) rotate(339deg);
}

.e[b-pkaclo3485] {
    transform: translate(8px, 56px) rotate(343deg);
}

.n[b-pkaclo3485] {
    transform: translate(2px, 46px) rotate(353deg);
}

.space[b-pkaclo3485] {
    transform: translate(2px, 14px) rotate(-10deg);
}

.h[b-pkaclo3485] {
    transform: translate(4px, 50px) rotate(0deg);
}

.o2[b-pkaclo3485] {
    transform: translate(2px, 51px) rotate(5deg);
}

.u[b-pkaclo3485] {
    transform: translate(-2px, 58px) rotate(16deg);
}

.s[b-pkaclo3485] {
    transform: translate(-8px, 70px) rotate(22deg);
}

.e2[b-pkaclo3485] {
    transform: translate(-17px, 83px) rotate(30deg);
}

span[b-pkaclo3485] {
    display: inline-block;
}


@media (max-width: 550px) {
    .curved-title[b-pkaclo3485] {
        font-size: 45px;
    }

    .nomes-titles[b-pkaclo3485] {
        font-size: 35px;
    }

    .principal-text[b-pkaclo3485] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-pkaclo3485] {
        transform: translate(22px, 91px) rotate(337deg);
    }

    .p1[b-pkaclo3485] {
        transform: translate(13px, 70px) rotate(339deg);
    }

    .e[b-pkaclo3485] {
        transform: translate(8px, 59px) rotate(348deg);
    }

    .n[b-pkaclo3485] {
        transform: translate(2px, 51px) rotate(348deg);
    }
}

@media (max-width: 446px) {
    .curved-title[b-pkaclo3485] {
        font-size: 45px;
    }

    .nomes-titles[b-pkaclo3485] {
        font-size: 20px;
    }

    .principal-text[b-pkaclo3485] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-pkaclo3485] {
        transform: translate(24px, 86px) rotate(337deg);
    }

    .p1[b-pkaclo3485] {
        transform: translate(15px, 65px) rotate(339deg);
    }

    .e[b-pkaclo3485] {
        transform: translate(10px, 53px) rotate(343deg);
    }

    .n[b-pkaclo3485] {
        transform: translate(6px, 48px) rotate(353deg);
    }
}

@media (min-width: 200px) and (max-width: 379px) {
    .curved-title[b-pkaclo3485] {
        font-size: 32px;
    }

    .nomes-titles[b-pkaclo3485] {
        font-size: 22px;
    }

    .principal-text[b-pkaclo3485] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-pkaclo3485] {
        transform: translate(23px, 85px) rotate(337deg);
    }

    .p1[b-pkaclo3485] {
        transform: translate(13px, 66px) rotate(339deg);
    }

    .e[b-pkaclo3485] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-pkaclo3485] {
        transform: translate(5px, 48px) rotate(353deg);
    }


    .h[b-pkaclo3485] {
        transform: translate(4px, 50px) rotate(0deg);
    }

    .o2[b-pkaclo3485] {
        transform: translate(2px, 51px) rotate(5deg);
    }

    .u[b-pkaclo3485] {
        transform: translate(-3px, 57px) rotate(20deg);
    }

    .s[b-pkaclo3485] {
        transform: translate(-8px, 67px) rotate(25deg);
    }

    .e2[b-pkaclo3485] {
        transform: translate(-15px, 80px) rotate(33deg);
    }
}

@media (min-width: 704px) and (max-width: 800px) {
    .curved-title[b-pkaclo3485] {
        font-size: 44px;
    }

    .nomes-titles[b-pkaclo3485] {
        font-size: 34px;
    }

    .principal-text[b-pkaclo3485] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-pkaclo3485] {
        transform: translate(23px, 99px) rotate(337deg);
    }

    .p1[b-pkaclo3485] {
        transform: translate(13px, 68px) rotate(339deg);
    }

    .e[b-pkaclo3485] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-pkaclo3485] {
        transform: translate(2px, 46px) rotate(353deg);
    }
}


@media (min-width: 640px) and (max-width: 704px) {
    .curved-title[b-pkaclo3485] {
        font-size: 36px;
    }

    .nomes-titles[b-pkaclo3485] {
        font-size: 30px;
    }

    .principal-text[b-pkaclo3485] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-pkaclo3485] {
        transform: translate(23px, 99px) rotate(337deg);
    }

    .p1[b-pkaclo3485] {
        transform: translate(13px, 68px) rotate(339deg);
    }

    .e[b-pkaclo3485] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-pkaclo3485] {
        transform: translate(2px, 46px) rotate(353deg);
    }
}

.wrapper[b-pkaclo3485] {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

x[b-pkaclo3485] {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    text-align: center;
    position: relative;
    transition: all .35s;
}

    x span[b-pkaclo3485] {
        position: relative;
        z-index: 2;
    }

    x[b-pkaclo3485]:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #6f42c1;
        transition: all .35s;
    }

    x:hover[b-pkaclo3485] {
        color: #fff;
    }

        x:hover[b-pkaclo3485]:after {
            width: 100%;
        }
/* _content/ItensPresentes/Pages/ItensCasa.razor.rz.scp.css */
.section[b-ghefgpor2t] {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.section h3[b-ghefgpor2t] {
    margin-top: 0;
}

.nav-link[b-ghefgpor2t] {
    cursor: pointer;
}

body[b-ghefgpor2t] {
    margin-top: 20px;
}

.event-schedule-area .section-title .title-text[b-ghefgpor2t] {
    margin-bottom: 50px;
}

.event-schedule-area .tab-area .nav-tabs[b-ghefgpor2t] {
    border-bottom: inherit;
}

.event-schedule-area .tab-area .nav[b-ghefgpor2t] {
    border-bottom: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
}

.event-schedule-area .tab-area .nav-item[b-ghefgpor2t] {
    margin-bottom: 75px;
}

    .event-schedule-area .tab-area .nav-item .nav-link[b-ghefgpor2t] {
        text-align: center;
        font-size: 22px;
        color: #333;
        font-weight: 600;
        border-radius: inherit;
        border: inherit;
        padding: 0px;
        text-transform: capitalize !important;
    }

        .event-schedule-area .tab-area .nav-item .nav-link.active[b-ghefgpor2t] {
            color: #4125dd;
            background-color: transparent;
        }

.event-schedule-area .tab-area .tab-content .table[b-ghefgpor2t] {
    margin-bottom: 0;
    width: 80%;
}

    .event-schedule-area .tab-area .tab-content .table thead td[b-ghefgpor2t],
    .event-schedule-area .tab-area .tab-content .table thead th[b-ghefgpor2t] {
        border-bottom-width: 1px;
        font-size: 20px;
        font-weight: 600;
        color: #252525;
    }

    .event-schedule-area .tab-area .tab-content .table td[b-ghefgpor2t],
    .event-schedule-area .tab-area .tab-content .table th[b-ghefgpor2t] {
        border: 1px solid #b7b7b7;
        padding-left: 30px;
    }

    .event-schedule-area .tab-area .tab-content .table tbody th .heading[b-ghefgpor2t],
    .event-schedule-area .tab-area .tab-content .table tbody td .heading[b-ghefgpor2t] {
        font-size: 16px;
        text-transform: capitalize;
        margin-bottom: 16px;
        font-weight: 500;
        color: #252525;
        margin-bottom: 6px;
    }

    .event-schedule-area .tab-area .tab-content .table tbody th span[b-ghefgpor2t],
    .event-schedule-area .tab-area .tab-content .table tbody td span[b-ghefgpor2t] {
        color: #4125dd;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 6px;
        display: block;
    }

        .event-schedule-area .tab-area .tab-content .table tbody th span.date[b-ghefgpor2t],
        .event-schedule-area .tab-area .tab-content .table tbody td span.date[b-ghefgpor2t] {
            color: #656565;
            font-size: 14px;
            font-weight: 500;
            margin-top: 15px;
        }

    .event-schedule-area .tab-area .tab-content .table tbody th p[b-ghefgpor2t] {
        font-size: 14px;
        margin: 0;
        font-weight: normal;
    }

.event-schedule-area-two .section-title .title-text h2[b-ghefgpor2t] {
    margin: 0px 0 15px;
}

.event-schedule-area-two ul.custom-tab[b-ghefgpor2t] {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}

    .event-schedule-area-two ul.custom-tab li[b-ghefgpor2t] {
        margin-right: 70px;
        position: relative;
    }

        .event-schedule-area-two ul.custom-tab li a[b-ghefgpor2t] {
            color: #252525;
            font-size: 25px;
            line-height: 25px;
            font-weight: 600;
            text-transform: capitalize;
            padding: 35px 0;
            position: relative;
        }

            .event-schedule-area-two ul.custom-tab li a:hover[b-ghefgpor2t]:before {
                width: 100%;
            }

            .event-schedule-area-two ul.custom-tab li a[b-ghefgpor2t]:before {
                position: absolute;
                left: 0;
                bottom: 0;
                content: "";
                background: #4125dd;
                width: 0;
                height: 2px;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
            }

            .event-schedule-area-two ul.custom-tab li a.active[b-ghefgpor2t] {
                color: #4125dd;
            }

.event-schedule-area-two .primary-btn[b-ghefgpor2t] {
}

.event-schedule-area-two .tab-content .table[b-ghefgpor2t] {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}

    .event-schedule-area-two .tab-content .table thead[b-ghefgpor2t] {
        background-color: #6f42c1;
        color: #fff;
        font-size: 20px;
    }

        .event-schedule-area-two .tab-content .table thead tr th[b-ghefgpor2t] {
            padding: 20px;
            border: 0;
        }

    .event-schedule-area-two .tab-content .table tbody[b-ghefgpor2t] {
        background: #fff;
    }

        .event-schedule-area-two .tab-content .table tbody tr.inner-box[b-ghefgpor2t] {
            border-bottom: 1px solid #dee2e6;
        }

        .event-schedule-area-two .tab-content .table tbody tr th[b-ghefgpor2t] {
            border: 0;
            padding: 30px 20px;
            vertical-align: middle;
        }

            .event-schedule-area-two .tab-content .table tbody tr th .event-date[b-ghefgpor2t] {
                color: #252525;
                text-align: center;
            }

                .event-schedule-area-two .tab-content .table tbody tr th .event-date span[b-ghefgpor2t] {
                    font-size: 50px;
                    line-height: 50px;
                    font-weight: normal;
                }

        .event-schedule-area-two .tab-content .table tbody tr td[b-ghefgpor2t] {
            padding: 30px 20px;
            vertical-align: middle;
        }

            .event-schedule-area-two .tab-content .table tbody tr td .r-no span[b-ghefgpor2t] {
                color: #252525;
            }

            .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a[b-ghefgpor2t] {
                font-size: 20px;
                line-height: 20px;
                color: #cf057c;
                -webkit-transition: all 0.4s;
                -o-transition: all 0.4s;
                transition: all 0.4s;
            }

                .event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover[b-ghefgpor2t] {
                    color: #4125dd;
                }

            .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories[b-ghefgpor2t] {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                margin: 10px 0;
            }

                .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a[b-ghefgpor2t] {
                    color: #252525;
                    font-size: 16px;
                    margin-left: 10px;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                }

                    .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a[b-ghefgpor2t]:before {
                        content: "\f07b";
                        font-family: fontawesome;
                        padding-right: 5px;
                    }

            .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span[b-ghefgpor2t] {
                color: #252525;
            }

            .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers[b-ghefgpor2t] {
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                margin: 10px 0;
            }

                .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a[b-ghefgpor2t] {
                    color: #4125dd;
                    font-size: 16px;
                    -webkit-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    transition: all 0.4s;
                }

                    .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover[b-ghefgpor2t] {
                        color: #4125dd;
                    }

                    .event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a[b-ghefgpor2t]:before {
                        content: "\f007";
                        font-family: fontawesome;
                        padding-right: 5px;
                    }

            .event-schedule-area-two .tab-content .table tbody tr td .primary-btn[b-ghefgpor2t] {
                margin-top: 0;
                text-align: center;
            }

            .event-schedule-area-two .tab-content .table tbody tr td .event-img img[b-ghefgpor2t] {
                width: 100px;
                height: 100px;
                border-radius: 8px;
            }
/* _content/ItensPresentes/Pages/TelaAgradecimento.razor.rz.scp.css */

.curved-title[b-ji8oddbnqa] {
    text-align: center;
    padding-bottom: 110px;
    font-size: 65px;
    padding-top: 20px;
    font-weight: bold;
}

.nomes-titles[b-ji8oddbnqa] {
    font-size: 70px;
    padding-top: 100px;
    padding-bottom: 90px;
    font-size: x-large;
    text-align: center;
    font-weight: bold;
}

.principal-text[b-ji8oddbnqa] {
    margin-top: -70px;
    margin-bottom: 125px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
    text-align: center;
}

.O[b-ji8oddbnqa] {
    transform: translate(23px, 99px) rotate(337deg);
}

.p1[b-ji8oddbnqa] {
    transform: translate(13px, 68px) rotate(339deg);
}

.e[b-ji8oddbnqa] {
    transform: translate(8px, 56px) rotate(343deg);
}

.n[b-ji8oddbnqa] {
    transform: translate(2px, 46px) rotate(353deg);
}

.space[b-ji8oddbnqa] {
    transform: translate(2px, 14px) rotate(-10deg);
}

.h[b-ji8oddbnqa] {
    transform: translate(4px, 50px) rotate(0deg);
}

.o2[b-ji8oddbnqa] {
    transform: translate(2px, 51px) rotate(5deg);
}

.u[b-ji8oddbnqa] {
    transform: translate(-2px, 58px) rotate(16deg);
}

.s[b-ji8oddbnqa] {
    transform: translate(-8px, 70px) rotate(22deg);
}

.e2[b-ji8oddbnqa] {
    transform: translate(-17px, 83px) rotate(30deg);
}

span[b-ji8oddbnqa] {
    display: inline-block;
}


@media (max-width: 550px) {
    .curved-title[b-ji8oddbnqa] {
        font-size: 45px;
    }

    .nomes-titles[b-ji8oddbnqa] {
        font-size: 35px;
    }

    .principal-text[b-ji8oddbnqa] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-ji8oddbnqa] {
        transform: translate(22px, 91px) rotate(337deg);
    }

    .p1[b-ji8oddbnqa] {
        transform: translate(13px, 70px) rotate(339deg);
    }

    .e[b-ji8oddbnqa] {
        transform: translate(8px, 59px) rotate(348deg);
    }

    .n[b-ji8oddbnqa] {
        transform: translate(2px, 51px) rotate(348deg);
    }
}

@media (max-width: 446px) {
    .curved-title[b-ji8oddbnqa] {
        font-size: 45px;
    }

    .nomes-titles[b-ji8oddbnqa] {
        font-size: 40px;
    }

    .principal-text[b-ji8oddbnqa] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-ji8oddbnqa] {
        transform: translate(24px, 86px) rotate(337deg);
    }

    .p1[b-ji8oddbnqa] {
        transform: translate(15px, 65px) rotate(339deg);
    }

    .e[b-ji8oddbnqa] {
        transform: translate(10px, 53px) rotate(343deg);
    }

    .n[b-ji8oddbnqa] {
        transform: translate(6px, 48px) rotate(353deg);
    }
}

@media (min-width: 200px) and (max-width: 379px) {
    .curved-title[b-ji8oddbnqa] {
        font-size: 32px;
    }

    .nomes-titles[b-ji8oddbnqa] {
        font-size: 32px;
    }

    .principal-text[b-ji8oddbnqa] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-ji8oddbnqa] {
        transform: translate(23px, 85px) rotate(337deg);
    }

    .p1[b-ji8oddbnqa] {
        transform: translate(13px, 66px) rotate(339deg);
    }

    .e[b-ji8oddbnqa] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-ji8oddbnqa] {
        transform: translate(5px, 48px) rotate(353deg);
    }


    .h[b-ji8oddbnqa] {
        transform: translate(4px, 50px) rotate(0deg);
    }

    .o2[b-ji8oddbnqa] {
        transform: translate(2px, 51px) rotate(5deg);
    }

    .u[b-ji8oddbnqa] {
        transform: translate(-3px, 57px) rotate(20deg);
    }

    .s[b-ji8oddbnqa] {
        transform: translate(-8px, 67px) rotate(25deg);
    }

    .e2[b-ji8oddbnqa] {
        transform: translate(-15px, 80px) rotate(33deg);
    }
}

@media (min-width: 704px) and (max-width: 800px) {
    .curved-title[b-ji8oddbnqa] {
        font-size: 44px;
    }

    .nomes-titles[b-ji8oddbnqa] {
        font-size: 34px;
    }

    .principal-text[b-ji8oddbnqa] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-ji8oddbnqa] {
        transform: translate(23px, 99px) rotate(337deg);
    }

    .p1[b-ji8oddbnqa] {
        transform: translate(13px, 68px) rotate(339deg);
    }

    .e[b-ji8oddbnqa] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-ji8oddbnqa] {
        transform: translate(2px, 46px) rotate(353deg);
    }
}


@media (min-width: 640px) and (max-width: 704px) {
    .curved-title[b-ji8oddbnqa] {
        font-size: 36px;
    }

    .nomes-titles[b-ji8oddbnqa] {
        font-size: 40px;
    }

    .principal-text[b-ji8oddbnqa] {
        margin-left: 0;
        margin-right: 0;
    }

    .O[b-ji8oddbnqa] {
        transform: translate(23px, 99px) rotate(337deg);
    }

    .p1[b-ji8oddbnqa] {
        transform: translate(13px, 68px) rotate(339deg);
    }

    .e[b-ji8oddbnqa] {
        transform: translate(8px, 56px) rotate(343deg);
    }

    .n[b-ji8oddbnqa] {
        transform: translate(2px, 46px) rotate(353deg);
    }
}

.wrapper[b-ji8oddbnqa] {
    position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

x[b-ji8oddbnqa] {
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    text-align: center;
    position: relative;
    transition: all .35s;
}

    x span[b-ji8oddbnqa] {
        position: relative;
        z-index: 2;
    }

    x[b-ji8oddbnqa]:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #6f42c1;
        transition: all .35s;
    }

    x:hover[b-ji8oddbnqa] {
        color: #fff;
    }

        x:hover[b-ji8oddbnqa]:after {
            width: 100%;
        }
/* _content/ItensPresentes/Shared/ApresentacaoConvite.razor.rz.scp.css */
#framePrincipal[b-rtkrky9yme] {
    border: none;
}

.teste[b-rtkrky9yme] {
    margin-left: -27px;
    margin-right: -22px;
    margin-top: -16px;
}
/* _content/ItensPresentes/Shared/MainLayout.razor.rz.scp.css */
.page[b-ud96hfu3o9] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-ud96hfu3o9] {
    flex: 1;
}

.sidebar[b-ud96hfu3o9] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-ud96hfu3o9] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-ud96hfu3o9]  a, .top-row .btn-link[b-ud96hfu3o9] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-ud96hfu3o9] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-ud96hfu3o9] {
        display: none;
    }

    .top-row.auth[b-ud96hfu3o9] {
        justify-content: space-between;
    }

    .top-row a[b-ud96hfu3o9], .top-row .btn-link[b-ud96hfu3o9] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-ud96hfu3o9] {
        flex-direction: row;
    }

    .sidebar[b-ud96hfu3o9] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-ud96hfu3o9] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-ud96hfu3o9], article[b-ud96hfu3o9] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.page-footer[b-ud96hfu3o9] {
    background-color: #94629d61;
    border-radius: 5px 5px 0px 0px;
    position: fixed;
    bottom: 0;
    color: #8500ac;
    text-align: center;
    width: 100%;
    font-size: smaller;
    font-style: oblique;
}

    .page-footer :hover[b-ud96hfu3o9] {
        font-size: larger;
    }
/* _content/ItensPresentes/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-us2vwk3cnw] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-us2vwk3cnw] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-us2vwk3cnw] {
    font-size: 1.1rem;
}

.oi[b-us2vwk3cnw] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-us2vwk3cnw] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-us2vwk3cnw] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-us2vwk3cnw] {
        padding-bottom: 1rem;
    }

    .nav-item[b-us2vwk3cnw]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-us2vwk3cnw]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-us2vwk3cnw]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-us2vwk3cnw] {
        display: none;
    }

    .collapse[b-us2vwk3cnw] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-us2vwk3cnw] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
