
<div class="teste" >
    <iframe id="framePrincipal" src="/html/convite.html" marginheight="0"
            marginwidth="0" frameborder="0" width="100%" height="1000" style="border: none;"></iframe>
</div>