@inherits LayoutComponentBase

<PageTitle>Open House</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<div class="page-footer">
    <p style="margin:15px 15px 15px 15px;">Pedro Gaudio@2023</p>
</div>
