body {
    background-image: url('/img/background_convite.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

.container {
    text-align: center;
    padding: 10px;
    max-height: 80vh; /* Defina uma altura máxima em relação à altura da viewport (80% da altura da viewport) */
    overflow: auto; /* Adicione uma barra de rolagem se o conteúdo exceder a altura máxima */
    font-family: 'Luckiest Guy', cursive;
}

.curved-title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    font-family: 'Luckiest Guy', cursive;
}